.main {
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
  width: 100%;
  /* border: 1px solid red; */
}

.section1 {
  display: flex;
  gap: 5px;
  height: max-content;
  flex-direction: column;
}

.filtersBox {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
