.container {
  border: 1px solid #e4e4e7;
  border-radius: 7.5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fdfdfe;
  padding: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header > div {
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.header > div > p {
  font-family: var(--leagueSpartan-medium-500);
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin: 0 !important;
}

.header > p {
  font-family: var(--leagueSpartan-regular-400);
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--text-color);
  margin: 0 !important;
}

.cardBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 500px;
}

.card {
  border-radius: 10px;
  border: 1px solid #e4e4e7;
  border-left: 3px solid var(--main-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: max-content;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardHeader > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.name {
  font-family: var(--leagueSpartan-medium-500);
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0 !important;
}

.subject,
.badge {
  font-family: var(--leagueSpartan-regular-400);
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  padding: 5px 10px;
  border-radius: 20px;
  width: max-content;
}

.subject {
  border: 1px solid #e4e4e7;
}

.cardStatsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.barsBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.cardStatsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: var(--leagueSpartan-medium-500);
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.cardStatsWrapper > :nth-child(1) {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.cardInfoBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardInfo > span {
  font-family: var(--leagueSpartan-medium-500);
  font-size: 1rem;
  line-height: 1.25rem;
}
