.errorBox {
  width: 100%;
  height: 100%;
  font-family: var(--leagueSpartan-semiBold-600);
  font-size: var(--medium30-);
  line-height: var(--medium30-);
  color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
