.mainBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 1px solid var(--color-dashboard-border);
  background-color: var(--modal-background-color);
  box-shadow: var(--cards--boxShadow-color);
  outline: none;
  width: 80%;
  display: flex;
  flex-direction: column;
  max-height: 90%;
}

.headingBox {
  border-bottom: 1px solid var(--color-dashboard-border);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
  flex-shrink: 0;
}

.headingBox > :nth-child(1) {
  font-family: var(--leagueSpartan-semiBold-600);
  font-size: var(--regular22-);
  line-height: var(--regular22-);
  color: var(--black-color);
  margin: 0;
}

.headingBox > :nth-child(2) {
  color: var(--text-grey);
  font-size: var(--regular20-);
  line-height: var(--regular20-);
  font-family: var(--leagueSpartan-medium-500);
  margin: 0;
}

.contentBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 15px;
  overflow-y: auto;
}

.roleContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.roleBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 275px;
  flex: 1;
  /* border: 4px solid purple; */
}

.fields > p,
.subFields > p {
  font-size: var(--regular18-);
  line-height: var(--regular18-);
  font-family: var(--leagueSpartan-medium-500);
  color: var(--black-color);
  margin: 0px !important;
}

.subFields {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 275px;
  flex: 1;
}

.addBox {
  display: flex;
  gap: 10px;
}

.addButtonBox {
  display: flex;
  align-items: flex-end;
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--main-color);
  padding: 1vh;
  cursor: pointer;
}

.addButton > svg {
  color: var(--white-color);
  font-size: var(--regular18-);
  line-height: var(--regular18-);
}

.resourcesBox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
}

.todoList {
  display: flex;
  flex-direction: column;
  background-color: var(--main-white-color);
  box-shadow: var(--cards--boxShadow-color);
  border-radius: 10px;
}

.todoListHead {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5vh;
  min-height: 45px;
  max-height: 55px;
  padding: 10px;
}

.todoListHeadColumn {
  font-size: var(--regular18-);
  line-height: var(--regular18-);
  font-family: var(--leagueSpartan-medium-500);
  color: var(--black-color);
  margin: 0px !important;
}

.todoBody {
  height: max-content;
  max-height: 100px;
  overflow: auto;
}

.todoListRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  height: max-content;
  padding: 10px;
}

.todoListRowHeadColumn {
  font-size: var(--regular18-);
  line-height: var(--regular18-);
  font-family: var(--leagueSpartan-medium-500);
  color: var(--black-color);
  margin: 0px !important;
}

.todoListEnrollmentRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  margin-bottom: 5px;
  height: max-content;
  padding: 0px 10px;
}

.todoListRowColumn {
  font-size: var(--regular18-);
  line-height: var(--regular18-);
  font-family: var(--leagueSpartan-regular-400);
  color: var(--black-color);
  margin: 0px !important;
  width: 20%;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--pure-white-color);
  box-shadow: var(--iconBox-inner-boxShadow);
  cursor: pointer;
  transition: transform 0.4s ease;
  padding: 7.5px;
  width: max-content;
  flex-shrink: 0;
}

.iconBox:hover {
  transform: scale(1.01);
}

.durationBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.afterFields {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .afterFields {
    flex-direction: column;
  }
  .hyphen {
    display: none;
  }
  .contentBox {
    padding: 10px;
  }
}

@media screen and (max-width: 345px) {
  .resourcesBox {
    justify-content: center;
  }
}
