.statCard {
  border-radius: 15px;
  width: calc(60% - 10px);
  height: max-content;
  padding: 10px;
  background: url("/assets/svgs/texture_background.svg") rgb(250, 250, 250) 10% /
    cover no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}
.statHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2.5px;
}

.statTitle {
  font-family: var(--leagueSpartan-semiBold-600);
  font-size: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
  line-height: clamp(0.75rem, 0.675rem + 0.375vw, 1.125rem);
  color: var(--black-color);
  margin: 0px !important;
}

.statValueBlue {
  font-family: var(--leagueSpartan-medium-500);
  font-size: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
  line-height: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
  color: var(--main-color);
  margin: 0px !important;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--leagueSpartan-medium-500);
  font-size: clamp(0.625rem, 0.55rem + 0.375vw, 1rem);
  line-height: clamp(0.625rem, 0.55rem + 0.375vw, 1rem);
  color: var(--black-color);
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px !important;
  font-size: clamp(0.625rem, 0.55rem + 0.375vw, 1rem);
  line-height: clamp(0.625rem, 0.55rem + 0.375vw, 1rem);
}

.statusPending {
  padding: 2.5px 5px;
  border-radius: 5px;
  background-color: #fcc8c8;
  color: #c5371b;
}
.statusPaid {
  padding: 2.5px 5px;
  border-radius: 5px;
  background-color: #a0ffc0;
  color: #286321;
}
