.chartWrapper {
  width: 100%;
  flex: 1;
  font-family: var(--leagueSpartan-medium-500);
  overflow: hidden;
}

/* Chart element styling */
.grid line {
  stroke: var(--green-color);
}
/* Tooltip styling */
.tooltip {
  min-width: 8rem;
  display: grid;
  gap: 0.375rem;
  border-radius: 0.5rem;
  border: 1px solid var(--text-grey1);
  background-color: var(--main-white-color);
  padding: 0.625rem;
  font-size: var(--regular-);
  line-height: var(--regular-);
  box-shadow: var(--cards--boxShadow-color);
}

.tooltipLabel {
  color: var(--text-grey);
  font-size: var(--regular18-);
  line-height: var(--regular18-);
}

.tooltipContent {
  display: grid;
  gap: 10px;
}

.tooltipItem {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tooltipIndicator {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.125rem;
  flex-shrink: 0;
}

.tooltipName {
  color: #6b7280;
  flex: 1;
}

.tooltipValue {
  color: var(--black-color);
}
