.mobileViewContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: max-content;
  min-width: 250px;
  background-color: #f1faff;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #c7eaff;
  border-radius: 10px 10px 0px 0px;
}

.label {
  font-family: var(--leagueSpartan-medium-500);
  font-size: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
  line-height: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0 !important;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px;
  min-width: 90px;
  overflow: hidden;
}

.field .label {
  margin-bottom: 0;
  font-size: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
  line-height: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
}

.value {
  font-family: var(--leagueSpartan-regular-400);
  font-size: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
  line-height: clamp(0.625rem, 0.525rem + 0.5vw, 1.125rem);
  color: var(--black-color);
}
